.col-centered{
    float: none;
    margin: 0 auto;
}

.video-background {
  height: 100%;
  border: 2px solid #000;
  border-right:none;
  border-left: none;
  position: relative;
  padding: 20px;
  max-width: 1350px;
}

/*.enter-button {
  margin: -15% auto 0 auto;
  z-index: 10;
}*/

#video-box {
  position: absolute;
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  overflow: hidden;
}

video {
  position:absolute;
  z-index:-10;
}

video#campy_vid {
  width: 100%;
}


/*video#campy_vid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 90%;
  min-height: 90%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
*/
#campy_vid + div {
  margin-top: 65%%;
}

/*@media (max-width: 767px;) {

  video#campy_vid {
    -ms-transform: scale(25%, 25%);
    -webkit-transform: scale(25%, 25%);
    transform: scale(25%, 25%);
  }

}*/