.col-centered{
  float: none;
  margin: 0 auto;
}
 
.video-background {
  height: 100%;
  border: 2px solid #000;
  border-right:none;
  border-left: none;
  position: relative;
  padding: 20px;
}

/*.enter-button {
  margin: -15% auto 0 auto;
  z-index: 10;
}*/

#video-box {
  position: absolute;
  top:0%;
  left:0%;
  height:100%;
  width:100%;
  overflow: hidden;
}

video {
  position:absolute;
  z-index:-10;
}

video#campy_vid {
  width: 100%;
}


#campy_vid + .row {
  margin-top: 65%%;
}
